html, body{
	font-size: 100%;
    font-family: 'Raleway', sans-serif;
    background: url(images/secondary.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}